@import '~antd/dist/antd.css';

.text_area{
    width: 650px;
}

.lines{
    width: 602px;
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    margin-right: 24px;
    justify-content: space-evenly;
}

.one_word{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // margin:250px;
}